.details-section {
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 202px;

  display: flex;
  flex-direction: row;
}

.detail-box {
  width: 255px;
  display: flex;
  flex-direction: column;
}

.detail-box-icon {
  /* margin-bottom: 48px; */
}

.detail-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #ffff;
  margin-bottom: 23px;
}

/* icons size */
.egg-icon {
  width: 88px;
  height: 106px;
}

.books-icon {
  width: 74px;
  height: 89px;
}

.glass-icon {
  width: 80px;
  height: 94px;
}

.car-icon {
  width: 104px;
  height: 74px;
}

.bkg-icon {
  min-width: 160px;
  min-height: 164px;
  background: #093f68;
  border-radius: 45px;
  margin-bottom: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bkg-icon-unq {
  margin-top: 48px;
}
