.details-section {
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 202px;
}

.detail-box {
  width: 255px;
}

.detail-box-icon {
  margin-bottom: 48px;
}

.detail-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffff;
  margin-bottom: 23px;
}

/* icons size */
.egg-icon {
  width: 88px;
  height: 106px;
}

.books-icon {
  width: 74px;
  height: 89px;
}

.glass-icon {
  width: 80px;
  height: 94px;
}

.car-icon {
  width: 104px;
  height: 74px;
}
