.hero {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 6rem;
  margin: 0 auto;
  margin-bottom: 270px;
}

.hero-illus-img  {
  width: 408px;
  height: 459px;
  position: fixed;
}

.text-ct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-paragraph {
  width: 540px;
  margin-bottom: 64px;
}

.scroll-icon {
  width: 26px;
  height: 42px;
  cursor: pointer;
}

.bg-img {
  width: 544px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/assets/bg-hero-squiggle.svg");
  background-repeat: no-repeat;
}
