.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-illus-img  {
  width: 408px;
  height: 459px;
}

.text-ct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-paragraph {
  width: 540px;
  margin-bottom: 64px;
}
