* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
  color: #ffffff;
  background-color: #080c20;
}

.paragraph {
  font-size: 15px;
  color: #777f98;
  line-height: 25px;
}

.heading-primary {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 24px;
}

em {
  text-decoration: none;
  font-style: normal;
  color: #3ee9e5;
}

.header {
  margin-bottom: 202px;
}

.nav {
  width: 1110px;
  /* margin: 81px 165px; */
  margin: 0 auto;
  margin-top: 81px;
  margin-bottom: 114px;
}

.nav-logo {
  width: 120px;
  height: 35px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 151px;
}
